@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-2 px-6 rounded-lg outline-none border-4 text-white ring-white duration-200 ease-in-out font-bold;
    @apply focus-within:ring active:scale-95 disabled:cursor-not-allowed;
  }

  .input {
    @apply w-full py-2 px-3 border-none rounded-lg text-white body-small placeholder-slate-400 bg-transparent outline-none;
  }

  .input-inner {
    @apply flex ring ring-slate-400 rounded-lg overflow-hidden my-1;
    @apply focus-within:ring-white;
  }

  .input-wrapper {
    @apply my-3;
  }
}

@layer base {
  :root {
    color-scheme: dark;
  }

  @font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter.woff') format('woff');
    font-weight: 400;
  }

  html {
    @apply font-text scroll-smooth text-white bg-background accent-black;
  }

  h1, .head-1 {
    @apply font-bold font-title text-[1.5rem] leading-[1.75rem] md:text-[1.75rem] md:leading-[2rem] lg:text-[2rem] lg:leading-[2.25rem];
  }

  h2, .head-2 {
    @apply font-bold font-title text-[1.25rem] leading-[1.5rem] md:text-[1.5rem] md:leading-[1.5rem];
  }

  h3, .head-3 {
    @apply font-bold font-title text-[1rem] leading-[1.25rem] sm:text-[1.125rem] sm:leading-[1.25rem] md:text-[1.25rem] md:leading-[1.5rem];
  }

  .body-normal {
    @apply font-text text-[1rem] leading-[1.5rem] sm:text-[1.125rem] sm:leading-[1.5rem] md:text-[1.25rem] md:leading-[1.75rem];
  }

  .body-small {
    @apply font-text text-[0.75rem] leading-[1.25rem] sm:text-[0.875rem] sm:leading-[1.25rem];
  }

  .body-extra-small {
    @apply font-text text-[0.5rem] leading-[0.75rem];
  }

  .btn-black {
    @apply btn bg-black/50 hover:bg-black/60 border-black;
  }

  .btn-primary {
    @apply btn bg-primary/50 hover:bg-primary/60 border-primary;
  }

  .btn-secondary {
    @apply btn bg-secondary/50 hover:bg-secondary/60 border-secondary;
  }

  .btn-success {
    @apply btn bg-success/50 hover:bg-success/60 border-success;
  }

  .btn-info {
    @apply btn bg-info/50 hover:bg-info/60 border-info;
  }

  .btn-warning {
    @apply btn bg-warning/50 hover:bg-warning/60 border-warning;
  }

  .btn-help {
    @apply btn bg-help/50 hover:bg-help/60 border-help;
  }

  .btn-danger {
    @apply btn bg-danger/50 hover:bg-danger/60 border-danger;
  }

  kbd {
    @apply border-2 rounded px-1 py-px;
  }

  .tracker-shadow-pulse {
    animation: pulsate-shadow 2s ease-in-out infinite;
  }

  .visibility-pulse {
    animation: pulsate-opacity 2s ease-in-out infinite;
  }

  select, option {
    @apply !text-white !bg-background
  }

  .container-max {
    @apply max-w-[1800px] mx-auto;
  }

  .dnd-container {
    @apply max-w-[1800px] mx-auto w-full px-4 sm:px-8 md:px-12 lg:px-16;
  }

  .html-richtext ul {
    @apply list-disc list-outside ml-5 mb-5;
  }

  .html-richtext ol {
    @apply list-decimal ml-5 mb-5;
  }

  .html-richtext li {
    @apply mb-1 last:mb-0;
  }

  .html-richtext p {
    @apply mb-4 last:mb-0;
  }

  .html-richtext a, u {
    @apply text-primary;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .loader {
    @apply text-primary grid h-10 w-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .loader,
  .loader:before,
  .loader:after {
    --c: linear-gradient(currentColor 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-repeat: no-repeat;
    animation: loader-1 2s infinite, loader-2 2s infinite;
  }
  .loader:before,
  .loader:after {
    content: '';
    grid-area: 1/1;
    transform: translate(calc(50% - 2px), calc(2px - 50%)) rotate(90deg);
    animation-delay: -0.25s;
  }
  .loader:after {
    transform: translate(calc(2px - 50%), calc(50% - 2px)) rotate(90deg);
  }

  @keyframes loader-1 {
    0%,
    10% {
      background-size: 0 4px, 4px 0;
    }
    40%,
    60% {
      background-size: 100% 4px, 4px 100%;
    }
    90%,
    100% {
      background-size: 0 4px, 4px 0;
    }
  }

  @keyframes loader-2 {
    0%,
    49.9% {
      background-position: 0 0, 0 0, 100% 100%, 100% 100%;
    }
    50%,
    100% {
      background-position: 100% 0, 0 100%, 0 100%, 100% 0;
    }
  }

  @keyframes pulsate-shadow {
    0% {
      box-shadow: 0 0 38px #4F19AA;
    }
    50% {
      box-shadow: 0 0 70px #4F19AA;
    }
    100% {
      box-shadow: 0 0 38px #4F19AA;
    }
  }

  @keyframes pulsate-opacity {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }
}
