@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-text scroll-smooth text-white bg-background accent-black;
  }

  h1 {
    @apply font-bold font-title text-[1.5rem] leading-[1.75rem] md:text-[1.75rem] md:leading-[2rem] lg:text-[2rem] lg:leading-[2.25rem];
  }

  h2 {
    @apply font-bold font-title text-[1.25rem] leading-[1.5rem] md:text-[1.5rem] md:leading-[1.5rem];
  }

  h3 {
    @apply font-bold font-title text-[1rem] leading-[1.25rem] sm:text-[1.125rem] sm:leading-[1.25rem] md:text-[1.25rem] md:leading-[1.5rem];
  }

  .body-normal {
    @apply font-text text-[1rem] leading-[1.5rem] sm:text-[1.125rem] sm:leading-[1.5rem] md:text-[1.25rem] md:leading-[1.75rem];
  }

  .body-small {
    @apply font-text text-[0.75rem] leading-[1.25rem] sm:text-[0.875rem] sm:leading-[1.25rem] md:text-[1rem] md:leading-[1.5rem];
  }

  .body-extra-small {
    @apply font-text text-[0.5rem] leading-[0.75rem];
  }

  .error-message {
    @apply text-danger body-small mt-1;
  }

  .help-message {
    @apply text-gray-400 body-small mt-1;
  }

  .tracker-shadow {
    box-shadow: rgba(40, 53, 147, 0.3) 0px 0px 38px, rgba(40, 53, 147, 0.22) 0px 0px 12px;
  }

  .tracker-shadow-pulse {
    animation: pulsate-shadow 2s ease-in-out infinite;
  }

  .visibility-pulse {
    animation: pulsate-opacity 2s ease-in-out infinite;
  }

  .container-max {
    @apply max-w-[1800px] mx-auto;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes pulsate-shadow {
    0% {
      box-shadow: 0 0 38px #283593;
    }
    50% {
      box-shadow: 0 0 70px #283593;
    }
    100% {
      box-shadow: 0 0 38px #283593;
    }
  }

  @keyframes pulsate-opacity {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }
}
