@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-2 px-6 tracker-shadow rounded-lg outline-none ring-white duration-200 ease-in-out font-bold;
    @apply focus-within:ring active:scale-95 disabled:cursor-not-allowed;
  }

  .input {
    @apply w-full py-2 px-3 border-none rounded-lg text-white body-small placeholder-slate-400 bg-transparent;
  }

  .input-inner {
    @apply flex ring ring-slate-400 rounded-lg overflow-hidden my-1;
    @apply focus-within:ring-white;
  }

  .input-wrapper {
    @apply my-3;
  }
}

@layer base {
  :root {
    color-scheme: dark;
  }

  @font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Lato';
    src: url('@/assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Logo';
    src: url('@/assets/fonts/logo.woff') format('woff');
    font-weight: 400;
  }

  html {
    @apply font-text scroll-smooth text-white bg-background accent-black;
  }

  h1, .head-1 {
    @apply font-bold font-title text-[1.5rem] leading-[1.75rem] md:text-[1.75rem] md:leading-[2rem] lg:text-[2rem] lg:leading-[2.25rem];
  }

  h2, .head-2 {
    @apply font-bold font-title text-[1.25rem] leading-[1.5rem] md:text-[1.5rem] md:leading-[1.5rem];
  }

  h3, .head-3 {
    @apply font-bold font-title text-[1rem] leading-[1.25rem] sm:text-[1.125rem] sm:leading-[1.25rem] md:text-[1.25rem] md:leading-[1.5rem];
  }

  .body-normal {
    @apply font-text text-[1rem] leading-[1.5rem] sm:text-[1.125rem] sm:leading-[1.5rem] md:text-[1.25rem] md:leading-[1.75rem];
  }

  .body-small {
    @apply font-text text-[0.75rem] leading-[1.25rem] sm:text-[0.875rem] sm:leading-[1.25rem];
  }

  .body-extra-small {
    @apply font-text text-[0.5rem] leading-[0.75rem];
  }

  .btn-black {
    @apply btn bg-black hover:bg-black/90 text-white;
  }

  .btn-primary {
    @apply btn bg-primary hover:bg-primary/90 text-white;
  }

  .btn-secondary {
    @apply btn bg-secondary hover:bg-secondary/90 text-black;
  }

  .btn-success {
    @apply btn bg-success hover:bg-success/90 text-black;
  }

  .btn-info {
    @apply btn bg-info hover:bg-info/90 text-black;
  }

  .btn-warning {
    @apply btn bg-warning hover:bg-warning/90 text-black;
  }

  .btn-help {
    @apply btn bg-help hover:bg-help/90 text-black;
  }

  .btn-danger {
    @apply btn bg-danger hover:bg-danger/90 text-black;
  }

  .tracker-shadow {
    box-shadow: rgba(79, 25, 170 , 0.3) 0px 0px 38px, rgba(79, 25, 170 , 0.22) 0px 0px 12px;
  }

  .tracker-shadow-pulse {
    animation: pulsate-shadow 2s ease-in-out infinite;
  }

  .visibility-pulse {
    animation: pulsate-opacity 2s ease-in-out infinite;
  }

  .container-max {
    @apply max-w-[1800px] mx-auto;
  }

  .dnd-container {
    @apply max-w-[1800px] mx-auto w-full px-4 sm:px-8 md:px-12 lg:px-16;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .loader {
    @apply text-primary grid h-10 w-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .loader,
  .loader:before,
  .loader:after {
    --c: linear-gradient(currentColor 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-repeat: no-repeat;
    animation: loader-1 2s infinite, loader-2 2s infinite;
  }
  .loader:before,
  .loader:after {
    content: '';
    grid-area: 1/1;
    transform: translate(calc(50% - 2px), calc(2px - 50%)) rotate(90deg);
    animation-delay: -0.25s;
  }
  .loader:after {
    transform: translate(calc(2px - 50%), calc(50% - 2px)) rotate(90deg);
  }

  @keyframes loader-1 {
    0%,
    10% {
      background-size: 0 4px, 4px 0;
    }
    40%,
    60% {
      background-size: 100% 4px, 4px 100%;
    }
    90%,
    100% {
      background-size: 0 4px, 4px 0;
    }
  }

  @keyframes loader-2 {
    0%,
    49.9% {
      background-position: 0 0, 0 0, 100% 100%, 100% 100%;
    }
    50%,
    100% {
      background-position: 100% 0, 0 100%, 0 100%, 100% 0;
    }
  }

  @keyframes pulsate-shadow {
    0% {
      box-shadow: 0 0 38px #4F19AA;
    }
    50% {
      box-shadow: 0 0 70px #4F19AA;
    }
    100% {
      box-shadow: 0 0 38px #4F19AA;
    }
  }

  @keyframes pulsate-opacity {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }

  @keyframes smoothbounceeffect {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 200px, 0);
    }
  }
}
